<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="formaciontechu8-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `formaciontechu8-element`
     * formacion del 8
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Formaciontechu8Element extends Polymer.Element {
      static get is() { return 'formaciontechu8-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'formaciontechu8-element'
          }
        };
      }
    }

    window.customElements.define(Formaciontechu8Element.is, Formaciontechu8Element);
  </script>
</dom-module>
